<div class="row">
  <div class="restaurants-header">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

  {{#if restaurants.length}}
  <ul class="collection">
    <div class="restaurants-h3">
    <h3>Please book a reservation from the below resturants:</h3>
</div>
    {{#each restaurants as |restaurant|}}
    <li class="collection-item avatar">
      <img src="{{restaurant.image}}" alt="" class="circle">
      <span class="title">"{{restaurant.name}}"</span>
      <p>"{{restaurant.address}}"<br>
         "{{reservation.time}}"
      </p>
    </li>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>